.menu-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #424242; /* Background color for the menu */
    padding: 10px; /* Add padding for better appearance */

  }
  
  .menu-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu-button:hover {
    background-color: #0056b3;
  }
  